<div class="about-main">
  <h2>ワリカンパートナーとは</h2>
  <p>夫婦や同棲カップルの生活費ワリカン額計算サービス。</p>
  <p>引き落としの口座が異なる場合に役立ちます。</p>
  <p>家計簿登録し自動で計算。自分のみの公開で安心。</p>
  <img class="about-img" src="<%= "/user_images/warikan_image.JPG" %>">
</div>