<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(post.pay_month.strftime('%Y年%-m月'), "/users/#{post.user.id}") %>
          </div>
          <%= link_to("支払者： 
          #{post.pay_name} 支払額： #{post.payment}円
          カテゴリ： #{post.categories_id}", "/posts/#{post.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>